<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title th:text="${employees.id == 0? 'Nuevo Empleado' : 'Editar Empleado'}"></title>
    </head>
    <h2 th:text="${employees.id == null? 'Nuevo Empleado' : 'Editar Empleado'}">Nuevo Empleado</h2>
    <body>
        <div class="container">
            <form method="post" th:action="@{'/employee/save'}" th:object="${employees}">
                <input th:field="*{id}" type="hidden"/>
                <div class="row">
                    <div class="form-group col-6">
                        <label>Nombre</label>
                        <input type="text" class="form-control" th:field="*{firstName}"
                                th:classappend="${#fields.hasErrors('firstName')?'is-invalid':''}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}"></div>
                    </div>
                    <div class="form-group col-6">
                        <label>Apellido</label>
                        <input type="text" class="form-control" th:field="*{lastName}"
                               th:classappend="${#fields.hasErrors('lastName')?'is-invalid':''}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}"
                             th:errors="*{lastName}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label>Correo Electrónico</label>
                        <input type="text" class="form-control" th:field="*{email}"
                               th:classappend="${#fields.hasErrors('email')?'is-invalid':''}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}"></div>
                    </div>
                    <div class="form-group col-6">
                        <label>Contraseña</label>
                        <input type="text" class="form-control" th:field="*{password}"
                               th:classappend="${#fields.hasErrors('password')?'is-invalid':''}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}"
                        th:errors="*{password}"></div>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label>Cargo</label>
                        <select name="job" class="form-control" >
                            <option th:each="job : ${listaJobs}"
                            th:value="${job.jobid}"
                            th:text="${job.jobtitle}"
                            th:selected="${job.jobid==employees.job.jobid}"></option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label>Sueldo</label>
                        <input type="text" class="form-control" th:field="*{salary}"
                               th:classappend="${#fields.hasErrors('salary')?'is-invalid':''}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('salary')}"
                             th:errors="*{salary}"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-6">
                        <label>Jefe</label>
                        <select name="manager" class="form-control" >
                            <option th:each=" jefe:${listaJefes}"
                                    th:value="${jefe.id}"
                                    th:text="|${jefe.firstName} ${jefe.lastName}|"
                                    th:selected="${ employees.manager!=null and (jefe.id==employees.getManager().getId())}"></option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label>Departamento</label>
                        <select name="department" class="form-control" >
                            <option th:each="departamento :${listaDepartments} "
                                    th:value="${departamento.id}"
                                    th:text="${departamento.departmentname}"
                                    th:selected="${departamento.id==employees.department.id}"></option>
                        </select>
                    </div>
                </div>

                <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-primary"
                        th:text="${employees.id == null? 'Registrar' : 'Actualizar'}"></button>
            </form>
        </div>
    </body>
</html>